.my-body-bg-color{
    background-color: rgb(22, 22, 80);
    text-align: center;
    padding: 2em 0;
}

.my-title-style{
    color: white;
    font-size: 3em;
}

.my-div-style{
    width: 90%;
    margin: 1em auto;
    background-color: rgb(27, 106, 106);
    border-radius: 30px;
}

.my-square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    background-color: rgb(90, 150, 211);
}

.my-fizz{
    background-color: rgb(106, 191, 106);
}

.my-buzz{
    background-color: rgb(244, 169, 72);
}

.my-fizzbuzz{
    background-color: rgb(213, 71, 71);
}